---
name: Publish Package

on: push

jobs:
  python-build:
    strategy:
      fail-fast: false
      matrix:
        python-version: [ '3.13' ]
        poetry-version: [ '2.2.1' ]
        os: [ ubuntu-latest ]
    defaults:
      run:
        working-directory: ./python
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run image
        uses: abatilo/actions-poetry@v4.0.0
        with:
          poetry-version: ${{ matrix.poetry-version }}

      - name: Install Dependencies
        run: poetry install

      - name: Python Linting
        run: |
          poetry run isort --profile black --check --diff ./
          poetry run black --skip-string-normalization --check --diff ./

      - name: Run Unit Test
        run: poetry run pytest

  publish:
    defaults:
      run:
        working-directory: ./python

    runs-on: ubuntu-latest

    needs: python-build

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Run image
        uses: abatilo/actions-poetry@v4.0.0
        with:
          poetry-version: '2.2.1'

      - name: Remove Dev Dependencies
        run: poetry install --no-dev

      - name: Build
        run: poetry build

      - name: Get Version
        run: poetry version -s > spp-logger.version

      - name: Create GitHub release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            python/dist/*.whl
            python/dist/*.tar.gz
            python/spp-logger.version
